{% extends 'base.html' %}

{% block content %}
<div class="col col-content pt-0">
  <!-- Display Platform -->
  <div class="row px-3 py-3">
    {% for game in games %}
    <div class="col-sm-3 mb-3 mb-sm-0 py-3">

      <!-- Cards for games -->
      <div class="card shadow" style="height: 340px;">
        <div class="badge-container p-2" style="position: absolute; top: 0; left: 0; z-index: 1;">
          <span
            class="badge fs-6 rounded-pill {{ 'bg-danger' if game.games_count == 0 else ('bg-success' if game.games_count >= 50 else 'bg-warning') }}">
            {{ game.games_count }}
          </span>
        </div>
        <form action="{{ url_for('delete_game') }}" method="post">
          <input type="hidden" name="game_id" value="{{ game.game_id }}">
          <button class="btn btn-warning m-2 py-1 px-2" data-game-id="{{ game.game_id }}"
             style="position: absolute; top: 0; right: 0; z-index: 4;">
            <!-- Add your delete icon here -->
            <i class="bi bi-trash"></i>
          </button>
        </form>
        <img src="static/covers/{{ game.game_name }}.jpg" class="card-img-top" alt="{{ game.game_name }}"
             style="max-height:290px;">
        <div class="card-body">
          <p class="card-title" style="font-size: 1rem;"><a class="link-dark stretched-link text-decoration-none">{{
            game.game_name }}</a></p>
          <p
            style="position: absolute; bottom: 0; left: 0; margin-bottom: 48px; padding: 8px; background-color: rgba(255, 255, 255, 0.8);">
            {% if game.platform == 'PC' %}
            <i class="bi bi-display fs-3"></i>
            {% elif game.platform == 'PS5' %}
            <i class="bi bi-playstation fs-3"></i>
            {% elif game.platform == 'Xbox X' %}
            <i class="bi bi-xbox fs-3"></i>
            {% elif game.platform == 'Nintendo Switch' %}
            <i class="bi bi-nintendo-switch fs-3"></i>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="btn btn-info rounded-circle position-fixed bottom-0 end-0 me-5 mb-4" data-bs-toggle="modal"
          data-bs-target="#exampleModal" style="z-index:5;">
    <i class="bi bi-plus-circle"></i>
  </button>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Game</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addItem') }}" method="post" enctype="multipart/form-data" id="gameForm">
          <div class="mb-3">
            <label for="gameName" class="form-label">Game Name</label>
            <input type="text" class="form-control" id="gameName" name="game_name" required>
          </div>
          <div class="mb-3">
            <label for="details" class="form-label">Details</label>
            <textarea class="form-control" id="details" name="details" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="developer" class="form-label">Developer</label>
            <input type="text" class="form-control" id="developer" name="developer" required>
          </div>
          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="publisher" name="publisher" required>
          </div>
          <div class="mb-3">
            <label for="platform" class="form-label">Platform</label>
            <input type="text" class="form-control" id="platform" name="platform" required>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
          </div>
          <div class="mb-3">
            <label for="count" class="form-label">Games_Count in Inventory</label>
            <input type="number" class="form-control" id="count" name="count" required>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image (JPG format only)</label>
            <input type="file" class="form-control" id="image" name="file" accept=".jpg" required>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
      </div>
      <script>
      document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("gameForm").submit();
      });


      </script>
    </div>
  </div>
</div>

{% endblock %}